.body {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #294404;
  text-align: center;
}


#checkboxToppings {
  display: show;
}

#toppingsInput {
  display: none;
}

#list-toppings {
  display:none;
}
.pizza-toppings {
  display:none;
}

#toppings-input {
  display:none;
}

#show-total {
  display: none;
}