#checkboxToppings {
  display: show;
}

#toppingsInput {
  display: none;
}

#list-toppings {
  display:none;
}
.pizza-toppings {
  display:none;
}

#toppings-input {
  display:none;
}

#show-pizza {
  display: none;
}